@import '../../MainStyles/variables';

.logo {
	color: $red;
}

.logo.animated {
	-webkit-animation: tracking-in-expand 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both 0.5s;
	animation: tracking-in-expand 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both 0.5s;
}

@-webkit-keyframes tracking-in-expand {
	0% {
		letter-spacing: 0.5em;
		opacity: 0;
	}
	40% {
		opacity: 0.6;
	}
	100% {
		opacity: 1;
	}
}
@keyframes tracking-in-expand {
	0% {
		letter-spacing: 0.5em;
		opacity: 0;
	}
	40% {
		opacity: 0.6;
	}
	100% {
		opacity: 1;
	}
}
