@import "../../../MainStyles/variables";

section.inputsContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	> div {
		margin: 1rem 0;
		box-sizing: border-box;

		&:nth-child(odd) {
			width: calc(65% - .5rem);
		}

		&:nth-child(even) {
			width: calc(35% - .5rem);
		}
	}
}