@import "../../MainStyles/variables";

.button {
	padding: 0 1rem;

	border: none;
	outline: none;
	cursor: pointer;
	border-radius: $borderRadius_4;

	font-size: 16px;
	font-weight: 500;
	white-space: nowrap;
	text-transform: uppercase;

	transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.button:disabled {
	cursor: not-allowed;
}

.btnPrimary {
	color: $black;
	background-color: $white;

	&:disabled {
		color: $gray_light;
	}
}

.btnTransparent {
	color: $white;
	background-color: $alpha_gray_primary;

	&:disabled {
		color: $gray_light;
	}
}

.btnOutline {
	color: $white;
	border: 2px solid $white;
	background-color: transparent;

	&:disabled {
		color: $gray_light;
		border: 2px solid $gray_light;
	}
}

.btnPrimary.btnRed {
	color: $white;
	background-color: $red;

	&:hover {
		background-color: $red_hover;
	}

	&:disabled {
		color: $red_dark;
		background-color: $red;
	}
}

.btnTransparent.btnRed {
	color: $red;

	&:hover {
		color: $red_hover;
		background-color: $alpha_gray_secondary;
	}

	&:disabled {
		color: $red_dark;
		background-color: $alpha_gray_primary;
	}
}

.btnOutline.btnRed {
	color: $red;
	border: 2px solid $red;

	&:hover {
		color: $red_hover;
		border: 2px solid $red_hover;
	}

	&:disabled {
		color: $red_dark;
		border: 2px solid $red_dark;
	}
}


// BUTTON SIZES
.btnLg {
	min-width: 13rem;
	width: 13rem;
	height: 3rem;
}

.btnMd {
	min-width: 11.5rem;
	width: 11.5rem;
	height: 2.5rem;
}

.btnSm {
	min-width: 10rem;
	width: 10rem;
	height: 2.5rem;
}