@import "../../MainStyles/variables";

.header {
	position: relative;
	width: 100%;
	min-height: 25rem;
	overflow: hidden;
	box-sizing: border-box;
	background-color: $black;
	z-index: 1;

	> img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		opacity: 0.3;
		object-fit: cover;

		filter: blur(4px);
		mix-blend-mode: normal;

		-webkit-animation: bg-fade-out 1s ease-in-out;
		-o-animation: bg-fade-out 1s ease-in-out;
		animation: bg-fade-out 1s ease-in-out;

		z-index: -1;
	}

	.topSection {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 1rem 0;
	}

}


@keyframes bg-fade-out {
	0% {
		opacity: .5;
		transform: scale(2);
		filter: blur(1px);
	}
	100% {
		opacity: .3;
		transform: scale(1);
		filter: blur(4px);
	}
}