// COLORS

// RED COLOR FAMILY
$red: #F65261;

// GRAY COLOR FAMILY
$gray_dark: #232323;
$gray_primary: #424242;
$gray_secondary: #555555;

// WHITE COLOR FAMILY
$white: #ffffff;

// BLACK COLOR FAMILY
$black: #000000;