// RED COLOR FAMILY
$red: #F65261;
$red_hover: #FF3649;
$red_dark: #AB5959;

// GRAY COLOR FAMILY
$gray_dark: #232323;
$gray_primary: #424242;
$gray_secondary: #555555;

$alpha_gray_primary: rgba(96, 96, 96, 0.6);
$alpha_gray_secondary: rgba(96, 96, 96, 0.7);

// WHITE COLOR FAMILY
$white: #ffffff;

// BLACK COLOR FAMILY
$black: #000000;


// BORDER RADIUS
$borderRadius_4: .25rem;