// RED COLOR FAMILY
$red: #F65261;
$red_hover: #FF3649;
$red_dark: #AB5959;

// GRAY COLOR FAMILY
$gray_dark: #232323;
$gray_primary: #424242;
$gray_secondary: #555555;

$alpha_gray_primary: rgba(96, 96, 96, 0.6);
$alpha_gray_secondary: rgba(96, 96, 96, 0.7);

// WHITE COLOR FAMILY
$white: #ffffff;

// BLACK COLOR FAMILY
$black: #000000;


$borderRadius_4: .25rem;
//$borderRadius_8: .5rem;
//$borderRadius_10: .625rem;
//$borderRadius_12: .75rem;
//$borderRadius_14: .875rem;
//$borderRadius_16: 1rem;
//$borderRadius_24: 1.5rem;

// FONT SIZES
$fontSize_9: .5625rem;
$fontSize_10: .625rem;
$fontSize_13: .8125rem;
$fontSize_16: 1rem;
$fontSize_18: 1.125rem;
$fontSize_24: 1.5rem;
$fontSize_32: 2rem;
